@utility hover-shadow-sm {
  & {
    @apply transition-shadow duration-300;
  }

  &:hover {
    @apply shadow-sm;
    /* 1/5 */
    box-shadow: 0 0px 15px 4px rgba(0, 0, 0, 0.08);
  }
}

@utility hover-shadow {
  & {
    @apply transition-shadow duration-300;
  }

  &:hover {
    @apply shadow-md;
    /* 1/4 */
    box-shadow: 0 0px 15px 6px rgba(0, 0, 0, 0.12);
  }
}

@utility hover-shadow-lg {
  & {
    @apply transition-shadow duration-300;
  }

  &:hover {
    @apply shadow-md;
    /* 1/3 */
    box-shadow: 0 0px 15px 8px rgba(0, 0, 0, 0.15);
  }
}

@utility hover-underline-slide {
  & {
    @apply relative cursor-pointer whitespace-nowrap transition-transform duration-300;
  }

  &::after {
    content: '';
    @apply absolute bottom-0 left-0 w-0 h-0.5 bg-primary transform duration-500 ease-in-out translate-y-[2px];
  }

  &:hover::after {
    @apply w-full;
  }

  &.thin::after {
    @apply h-px;
  }

  &.medium::after {
    @apply h-0.5;
  }

  &.thick::after {
    @apply h-1;
  }

  &.fast::after {
    @apply duration-300;
  }

  &.slow::after {
    @apply duration-700;
  }
}