/* 移除 input 和textarea 默认聚焦状态  */
@layer override {

    /* 聚焦状态 */
    .input:focus,
    .input:focus-visible,
    .input:focus-within {
        outline: none;
    }

    /* 聚焦状态 */
    .textarea:focus,
    .textarea:focus-visible,
    .textarea:focus-within {
        outline: none;
    }
}

@utility no-spinner {

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    & {
        -moz-appearance: textfield;
    }
}