.last-updated {
    margin-left: auto;
}

.VPNavBarAppearance,
.VPNavScreenAppearance,
.VPNavBarExtra {
    display: none !important;
}


/* Reset link styles specifically */
.vp-doc a {
    color: inherit;
    text-decoration: inherit;
    font-weight: unset;
}