@import 'tailwindcss';

@plugin "daisyui";

/* 扫描组件库源码 */
@source "../../../../packages/**/*.{vue,js,ts}";

/* 扫描文档示例代码 */
@source "../../examples/**/*.{vue,js,ts}";

@custom-variant dark (&:where(.dark, .dark *));