.language-vue {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.li-demo .language-vue {
    position: static !important;
}


/* 确保代码块在小屏幕下的内边距 */
@media (max-width: 640px) {
    .language-vue pre {
        padding: 12px !important;
    }
}

.last-updated {
    margin-left: auto;
}

/* .VPNav .VPNavBar {
    transition: none !important;
} */

/* button.menu {
    flex-direction: row !important;
} */

/* .VPNavBarMenu {
    flex-direction: row !important;
} */

.vp-doc table:not(.li-table) {
    table-layout: auto;
    width: 100%;
}

.vp-doc table:not(.li-table) td {
    min-width: 120px;
    max-width: 320px;
    word-break: keep-all;
    white-space: pre-line;
}


.VPSwitch {
    background-color: var(--color-base-300) !important;

    .icon {
        background-color: var(--color-base-200);
    }

    .vpi-moon {
        color: var(--color-base-100);
    }

    .vpi-sun {
        color: var(--color-base-content);
    }
}

.vp-doc [class*='language-'] pre {
    z-index: 0;
}